.route {
    width: 400px;
}

.header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 16px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    margin: 0px;
}

.write-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.write {
    padding: 10px;
    margin-right: 8px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.add {
    padding: 10px 20px;
    background-color: #5a5ae6;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add:hover {
    background-color: #4040d0;
}


.list-area {
    border: solid red;
    display: flex;
    justify-content: space-around;
}

.todo-list {
    border: 2px solid yellow;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comp-list {
    border: 2px solid yellow;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.todo-item {
    border: 1px solid transparent;
    transition: border-color 0.3s;
}

.todo-item:hover {
    border-color: royalblue;
}

.write-time {
    display: block;
    font-size: 0.4em;
    letter-spacing: 1px;
}

.comp-time {
    display: block;
    font-size: 0.4em;
    letter-spacing: 1px;
}